/*** Reseteo de Propiedades ***/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Venturis;
    src: url(fonts/VenturisADFStyle-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 500;
}

/****** LAYOUT  ******/
/*************** display/position/float ***************/

/********** height/width/padding/border/margin **********/
#logo img{
    max-width: 25%;
}
nav{
    float: right;
    width: 50%;
    margin: 2%;
    padding: 0 2%;
}
nav ul li{
    display: inline-block;
    padding: 2% 1%;
}

#cajacentral{
    height: 1550px;
    max-width: 1280px;
    min-width: 600px;
    margin: 0 10%;
    padding: 2%;
}
#portada{
    position: relative;
    top: 1em;
    margin-bottom: 5%;
}
#textoPortada{
    position: absolute;
    top: 70px;
    left: 10%;
    width: 35%;
    z-index: 50;
}
#readP{
    padding: 2% 10%;
}
#banner{
    width: 100%;
}
main{
    float: left;
    width: 63%;
}
section article img, #about{
    float: left;
    border: #e1e1e1 1px solid;
    padding: 2%;
}
main p, aside p{
    margin: 1% 0;
}
aside{
    float: right;
    width: 33%;
}
aside img{
    width: 100%;
    padding: 3%;
}
footer{
    height: 80px;
    clear: both;
}


/************************* Propiedades Generales *********************/
a{  /*a:link, a:visited, a:active*/
    text-decoration: none;
}
h1, h2{
    border-bottom: 1px black dashed;
    padding-bottom: 2%;
    margin-bottom: 2%;
}


/*** BODY ***/
body{
    background-image: url(images/bg.png);
    border: green solid 2px;
}
#cajacentral{
    background-color: white;
    border: red solid 2px;
}

/************** HEADER *******************/


/*** NAV ***/
nav{
    background-color: black;
}
nav a{
    color: white;
}
nav ul :hover{
    background-color: #ffcc33;
}

/*** SECTION BANNER ***/
#banner{
    border: #eaeaea solid 6px;
}
#textoPortada{
    line-height: 180%;
    border: orange solid 1px;
}
#textoPortada h1{
    text-align: center;
    font-size: x-large;
}
#readP{
    background-color: black;
    color: white;
    font-size: smaller;
}


/*** MAIN ***/
main section{
    margin-bottom: 5%;
}
section article{
    border: red 1px solid;
    margin-bottom: 2%;
}

/*** ASIDE ***/
aside article{
    border-bottom: 1px black dashed;
    margin-bottom: 3%;
    padding-bottom: 3%;
}
aside img{
    border: #e1e1e1 1px solid;
}
aside time{
    background-color: #ffcc33;
}

/*** FOOTER ***/
footer{
    background-color: black;
    color: white;
}

