/*** Reseteo de Propiedades ***/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/****** LAYOUT  ******/
/*************** display/position/float ***************/

/********** height/width/padding/border/margin **********/
header{

}
nav{
    float: right;
    width: 45%;
    margin: 2%;
    padding: 1%;
}
nav ul li{
    display: inline-block;
    padding: 0 1%;
}

#cajacentral{
    max-width: 1280px;
    margin: 0 10%;
    padding: 2%;
    border: red solid 2px;
}
#textoPortada{
    position: relative;
    top: 11em;
    left: 2em;
    border: orange solid 1px;
    width: 50%;

}
#banner{
    width: 100%;
}





/************************* Propiedades Generales *********************/
a{  /*a:link, a:visited, a:active*/
    text-decoration: none;
}
h1{

}
h2{

}
h3{

}

/*** BODY ***/
body{
    background-image: url(images/bg.png);
    border: green solid 2px;
}
#cajacentral{
    background-color: white;
}

/*** HEADER ***/
header{
    border: blue solid 2px;
}

/*** NAV ***/
nav{
    background-color: black;
}
nav a{
    color: white;
}

/*** SECTION BANNER ***/
#banner{
    border: grey solid 6px;
}
#textoPortada h1{
    text-align: center;
    border-bottom: 1px black dashed;
}


/*** MAIN ***/


/*** ASIDE ***/
aside{
}

/*** FOOTER ***/
footer{
    background-color: black;
    color: white;
}

