/*** Reseteo de Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*** Esto es para que si hay padding y border se incluya dentro del calculo (no se salga si pongo el % ajustado sin tener que tener en cuenta bordes)***/
}
@font-face {
    font-family: Reklame;
    src: url(fonts/Reklame_Script_Bold/Reklame_Script_Bold.woff2) format('woff2'),
    url(fonts/Reklame_Script_Bold/Reklame_Script_Bold.woff) format('woff');
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: Sarabun;
    src: url(fonts/Sarabun/Sarabun.woff2) format('woff2'),
    url(fonts/Sarabun/Sarabun.woff) format('woff');
    font-style: normal;
    font-weight: 500;
}


/************ LAYOUT  *************/
/************************ display/position/float **********************/

.logo{
    position: relative;
}
.homelink{
    position: absolute;
    left: 0px;
}
.checkbutton{
    float: right;
    display: none;
    color: #555555;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer;
    font-size: 2em;
}
#check{
    display: none;
}
nav ul{
    float: right;
}
nav ul li{
    position:relative;
    display: inline-block;
}
#barra{
    position: absolute;
    right: 40%;
    top: 50px;
}
#lupa{
    float: inline-start;
}
.opinion{
    display: inline-block;
}
#Categorias{
    position: relative;
}
.cat {
    display: inline-block;
    position: absolute;
    top: 150px;
}
#cat1{
    left: 2.5%;
}
#cat2{
    left: 25.7%;
}
#cat3{
    left: 49.3%;
}
#cat4{
    left: 72.5%;
}
#Destacados article{
    display: inline-block;
    text-align: left;
}
footer article{
    display: inline-block;
}



/****************** height/width/padding/border/margin *******************/

nav{
    height: 20px;
}
nav ul{
    width: 40%;
    padding-top: 30px;
}
nav ul li{
    margin: 1%;
}
header {
    height: 6em;
    width: 100%;
}
.homelink{
    height: 6em;
    padding: .5em 2em;
}
#barra{
    width: 20%;
    margin: auto;
}
#lupa{
    margin: 5px 10px;
    max-height: 18px;
    max-width: 18px;
}
#Portada{
    margin: 0% 5% 2%;
    height: 20em;
}
#Portada h1{
    margin: auto;
    padding-top: 1em;
}
#Quienes_somos{
    padding-top: 1%;
    height: 6em;
}
#Opiniones{
    height: 280px;
    padding-top: 20px;
}
.opinion{
    height: 80%;
    width: 33%;
    padding: 0% 1% 1%;
    margin: auto;
}
.opinion p{
    shape-margin: 1%;
    line-height: 25px;
    font-size: 1.8vw;  ----------------------------------
}
#Categorias{
    height: 600px;
    padding: 0% 2% 0%;
}
#CabeceraCat{
    height: 5em;
    padding: 1%;
    margin: 2%;
}
.cat{
    width: 22%;
    margin: auto;
    margin-inline: 1%;
    height: 400px;
}
.cat h4{
    margin: 1%;
}
.cat p{
    margin: 2%;
}
#Destacados{
    height: 22em;
    padding: 2%;
}
#cabeceraDest{
    padding: 2%;
    height: 4em;
}
#gris{
    padding: 3%;
    height: 16em;
}
#Destacados article{
    width: 24%;
    height: 13.5em;
}
footer{
    height: 7.5em;
    padding: 2% 3%;
}
footer article{
    width: 24%;
}



/************************* Propiedades Generales *********************/
a{  /*a:link, a:visited, a:active*/
    text-decoration: none;
    color: #555555;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Reklame;
    font-style:italic;
    font-weight:bold;
}
ul{
    list-style-type: none;
}
img, picture, video, iframe, figure{
    max-width: 100%;
    object-fit:cover; /* En el caso de poner altura a una imagen hace que se escale */
}


/********************* MEDIA QUERIES ***********************/

@media (max-width: 952px){ /***** Tablet *****/
    .homelink{
        padding: 1em 2em;
    }
    .logo{
        font-size: 2.5em;
    }
    nav ul{
        width: 60%;
        padding-left: 8%;
    }
    nav ul li{
        margin: 1% 1%;
    }
    #barra{
        width: 17%;
        top: 85px;
    }
    #Opiniones{
        height: 450px;
    }
    .opinion{
        width: 100%;
        height: 30%;
    }
    .opinion p{
        line-height: 2.5vh;
        margin: 1%;
    }
    .comillas{
        max-width: 40px;
        max-height: 40px;
    }
    #Categorias{
        height: 500px;
    }
    .cat{
        height: 300px;
    }

}
@media (max-width: 858px){ /***** Móvil *****/
    .checkbutton{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 40%;
        height: 200px;
        padding: 1% 2%;
        background: #E3F0A9;
        border-radius: 1em;
        top: 4em;
        opacity: 0.9;
        right: 100%;
        transition: .3s;
    }
    nav ul li{
        display: block;
        width: 100%;
        margin: 20px 0px;
        margin-right: 40px;
        line-height: 20px;
    }
    nav ul li a{
        font-size: larger;
        padding: 0 35%;
    }
    /*nav ul ul{ /* para que no aparezca el submenú en version móvil *//*
        background: none;
        display: none;
    }*/
    nav ul ul li{ /* para que no aparezca el submenú en version móvil */
        display: none;
        background: none;
    }
    nav ul li:hover > ul { /* para que no aparezca el submenú en version móvil */
        display:none;
        background: none;
    }
    #check:checked ~ ul{
        right: 0;
    }
    #barra{
        width: 17%;
        right: 20%;
        top: 50px;
    }
    #Categorias{
        height: 860px;
    }
    #CabeceraCat{
        height: 3em;
    }
    .cat{
        width: 45%;
        height: 340px;
    }
    .cat {
        display: block;
        position: absolute;
        top: 100px;
    }
    #cat1{
        left: 3%;
    }
    #cat2{
        left: 51%;
    }
    #cat3{
        left: 3%;
        top: 480px;
    }
    #cat4{
        left: 51%;
        top: 480px;
    }
}


/********* BODY *********/
body{
    font-family:Sarabun;
    color: #555555;
    font-size: 1.3em;
}
body{
    text-align: center;
}



/*** HEADER ***/
header {
    background-color: #CFE17D;
}
.logo{
    font-size: 3em;
}


/********* NAV **********/

/****** SUBMENÚ DESPLEGABLE: ******/
/* enlaces del Menu */
nav ul a {
    display:inline-block;
    padding:2px 12px;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
}
/* efecto al pasar el ratón por los items del Menu */
nav ul li:hover {
    border-radius: 1em;
    background:#e4e4e4;
    transition: .3s;
}
/* menu desplegable */
nav ul ul {
    opacity: .9;
    display:none;
    position:absolute;
    border-radius: 1em;
    width: 160px;
    top:100%;
    left:0;
    background:#E3F0A9;
    padding:0;
}
/* items del menu desplegable */
nav ul ul li {
    float:none;
    width:150px
}
/* enlaces de los items del menu desplegable */
nav ul ul a {
    line-height:120%;
    padding:10px 15px;
}
/* items del menu desplegable al pasar el ratón */
nav ul li:hover > ul {
    display:block;
}
/*** Hasta aquí llega el submenú ***/


/* Barra de búsqueda */
#barra{
    border-radius: 1em;
    background-color: white;
}
#barra p{
    text-align: left;
}



/*** SECTION ***/
#Portada{
    background-image: url(images/Portada.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
#Portada h1{
    color: white;
    font-size: 3.5em;
}
#Quienes_somos{
    background-color: #CFE17D;
}
.opinion{
    border: #555555 solid 0.4px;
    line-height: 1.6em;
}
#cat1{
    background-color: #555555;
    color: white;
}
#cat2{
    background-color: #B0D217;
    color: white;
}
#cat3{
    background-color: #E8C3AC;
}
#cat4{
    background-color: #E3F0A9;
}
#Categorias img:hover{
    filter:brightness(110%);
}
#Destacados{
    background-color: #D5D5D5;
}
#gris{
    background-color: white;
}
#gris a article img:hover{
    filter:brightness(110%);
}


/******** FOOTER *********/
footer {
    background-color: #CFE17D;
}
#logo{
    font-size: 2em;
}

