*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Reklame;
    src: url(../fonts/Reklame_Script_Bold/Reklame_Script_Bold.woff2) format('woff2'),
    url(../fonts/Reklame_Script_Bold/Reklame_Script_Bold.woff) format('woff');
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun/Sarabun.woff2) format('woff2'),
    url(../fonts/Sarabun/Sarabun.woff) format('woff');
    font-style: normal;
    font-weight: 500;
}



body{
    background-color: #CFE17D;
    font-family: Sarabun;
    font-size: 20px;
    font-weight: bold;
}

.form-login{
    width: 400px;
    height: 340px;
    background: #e4e4e4;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #657c00;
    padding: 20px 30px;
    border-top: 3px solid #555555;
    color: #555555;
}

.form-login h6{
    margin: 0;
    text-align: center;
    height: 5px;
    margin-bottom: 20px;
    font-size: 25px;
}

.form-login h3{
    font-family: Reklame;
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 20px;
    font-size: 40px;
}

.controls{
    width: 100%;
    border: 1px solid #B0D217;
    margin-bottom: 12px;
    padding: 11px 10px;
    background: #D5D5D5;
    font-family: Sarabun;
    color: #555555;
    font-size: 20px;
    font-weight: bold;
}

.buttons{
    width: 100%;
    height: 40px;
    background: #B0D217;
    border: none;
    color: #555555;
    margin-bottom: 14px;
}

.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a{
    color: #555555;
    text-decoration: none;
}

.form-login a:hover{
    text-decoration: underline;
}
